:root {
  --bg: #003399;
  --header: #00804d;
  --card: #ffffff;
  --text: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  background: var(--bg);
  margin: 0;
  color: var(--text);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 1.25rem;
}

/* HEADER */
.site-header {
  background: var(--header);
  color: white;
  padding: 10px 0;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px;
  border-radius: 6px;
}

.nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.contact-btn {
  background: white;
  color: var(--header) !important;
  padding: 6px
